body{
    background-color:#f5d9d5;
    font-family:'Nunito', sans-serif;
}


/* NAVBAR STYLES */
a.navbar-brand{
    color: #ea1c2c !important;
    font-size: 2rem;
    font-weight: 100;
    padding-left: 8px;

}

a.nav-link{
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 200;
    display: inline-block;
}

a.nav-link:hover{
    color: #ea1c2c !important;
}
/* PICTURE EDITS */
img.top-pic{
    width: 50vw;
    transition: all, 0.5s;
}

img.top-pic:hover{
    width: 52vw;
}

div.col.top-pic{
    padding: 0;
}

div#sidebar-1,
#sidebar-2,
#sidebar-3,
#sidebar-4,
p{
    margin: auto;
}

div#sidebar-1,
#sidebar-2,
#sidebar-3,
#sidebar-4,
h2{
    text-align: center;
}

h2.home-h2{
    font-size: 3vw;
    margin: 0;
    max-height: 6vh;
}
/* link to see more candy */
a{
    text-decoration: none;
}

h2.linked{
    color: #ea1c2c;
    font-size: 1vw;
    margin-bottom: 30px;
    transition: all, 0.5s;
}

h2.linked:hover{
    font-size: 2vw;
    font-weight: 500;
}

/* slash lines in the website title */
span.slash-color{
    font-size: 4vw;
    font-weight: 300;
    color: #ea1c2c;
}

div.row{
    box-sizing: border-box;
    margin-bottom: 180px;
    margin-right: 0;
   
}

div.container-fluid{
    padding-right: 0;
}

h1{
    color: #ea1c2c;
    text-align: center;
}

img.sm-icon{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}


p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    max-width: 600px;
}

/*======== ABOUT ME PAGE STYLE========= */
.top-pic-1{
    width: 100vw;
    display: block;
}

.about-p{
    display: flex;
    margin: 10px;
    background: #ffd1c9;
    padding: 20px;
    border-radius:30px 0;
}

#founder-face{
    width: 35%;
    height: 30%;

}

.founder{
    display: flex;
    border: 5px solid #ea1c2c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    

}

.founder-icon{
    width: 20%;
    margin: 25px;
}

.founder-title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.bottom-wrapper{
    border-top: black 1px solid;
    margin-top: 60px;
}

ul.ul-1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    margin-top: 5px;
    width: 60%;
}

li{
    padding: 3px;
}

.team-pic{
    width: 20%;
    margin-right:10px;
    margin-left: 10px;
    display: block;
    margin-top: 40px;
}

.team{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 90%;
    margin-left: 80px;

}

.team-title{
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: #ea1c2c;
}

.team-p{
   width: 20%; 
   margin-left: 10px;
   margin-right: 40px;
   font-size: 15px;
}

.our-team{
    padding: 50px;
    font-weight: 600;
    font-size: 25px;
}

/* =====TICKETS PAGE STYLES======== */
.ticket-wrapper{
    max-width: 800px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.box-container{
    display: flex;
    
}

.box-head{
    color: #f5d9d5;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
}

.box{
    flex-grow: 1;
    background-color: #f7f7f7;
    margin: 10px; 
    transition: 1s flex-grow;
}

.box:hover{
    flex-grow: 1.5;
}

h3,
.box-li{
    text-align: center;
    display: block;
}

.box-h3{
    border: 2px solid #f7f7f7;
    padding: 18px;
    font-size: 17px;
}

li.box-li{
    list-style: none;
}

.canceled{
    text-decoration: line-through;
}
ul.box-ul{
    padding: 0%;
    margin-top: 25px;
}
.box-button{
    display: block;
    width: 100%;
    border: none;
    background-color: #ea1c2c;
    color: #f5d9d5;
    font-weight: 300;
    padding: 10px;
    transition: 0.7s all;
}

.box-button:hover{
    color:black;
    background-color:#f7f7f7 ;
}
/* form styles */
form{
   margin-left:auto ;
   margin-right: auto;
   width: 95%;
   background-color: #f7f7f7;
   padding: 30px;
   box-sizing: border-box;
}

.input-head,
.input-head.radio{
    text-align: left;
}

.input-head.radio{
    font-size: 20px;
    
}


.inner-form-1 input,
.inner-form-2 input,
.card-details input,
input[type='submit'],
input#card{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #f5d9d5;
    border-radius: 5px;
    outline-color:black;
    background-color: #f7f7f7;
}

input::placeholder{
    color:black;
}

label.hide-labe{
    visibility: hidden;
    position: absolute; 
}

label.age{
    position: relative;
    visibility: visible;
    padding: 10px;
    margin-top: 25px;
}

.inner-form-2{
    display: flex;
}

input#num,
input#age{
    width: 40%;
}

input#age{
    margin-right: 15px;
}

input#num{
    margin-left: 15px;
}

/* payment card styles */

.payment{
    border: 2px solid #f5d9d5;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
}

.pay-icon-wrapper{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    
}
.payment-cards{
    width: 35%;
    height: 40px;
}

.card-icon{
    width: 10%;
    height: 35px;
}

.card-p{
    margin-left: 30px;
    font-size: 20px;
}

.card-details{
    display: flex;
}
input.one-line-card-details{
    width: 20%;
    margin-left: 15px;
}

.expire{
    flex-grow: 2;
}

input[type='submit']{
    border: none;
    background-color: #ea1c2c;
    color: #f5d9d5;
}

input[type='submit']:hover{
    color:black;
    background-color:#f7f7f7 ; 
}

/* radio styles */

.card-option-1,
.card-option-3{
    width: 5rem;
    
}

.card-option-2,
.card-option-4{
    width: 3rem;
}

.inner-radio-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #f5d9d5;
    border-bottom: none;
    border-left: none;
    border-right: none;

}

.inner-radio-wrapper label{
    flex-grow: 2;
}

.radio-select{
    border: 2px solid #f5d9d5;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

input[type='radio']{
    margin: 5px;
}

/* footer styles */

footer{
    background-color: black;
    color: #f5d9d5;
     height: 200px;
    padding-top: 20px;
}

footer a{
    color: #ea1c2c !important;
}

footer a:hover{
    color: #f5d9d5 !important;
}

/* MEDIA QUERY INDEX
============== */
@media (max-width:900px) {
    div#sidebar-1{
        visibility: hidden;
        padding: 0;
    }

    div.row{
        width: 0;
        margin-bottom: 0;
    }

    img.top-pic{
        width: 100vw;
    }

    li.nav-item{
        padding-left: 25px;
        padding-top: 5px;
    }

    a.nav-link{
        text-shadow: 1px 1px rgb(102, 212, 240);
    }

    a.nav-link:hover{
        text-shadow: none;
    }

    
/* CHANGING TEXT POSITION WITH THE PICTURES ABOVE IT */
    div#sidebar-2,
    #sidebar-3,
    #sidebar-4{
        position: absolute;
        padding-top: 30px;
    }

    div#top-pic{
        margin-top:550px ;
    }

    #btm-pic-1,
    #btm-pic-2{
        margin-top: 500px;
    }

    h2.linked{
        font-size: 3vw;
    }

    img.top-pic:hover{
        width: 100vw;
    }

    /* ABOUT PAGE */

    .team-pic{
        width: 100vw;
        margin: 0;
    }

    .team{
        margin-left: 0;
        margin-right: 0;
    }

    .team-p{
        padding:1rem;
        width: 100vw;
        margin-right: 0;
        margin-left: 10%;
        
    }

    .process-p{
        visibility: hidden;
        position: absolute;
    }

    .about-us{
        width: 100%;
    }

    .founder{
        flex-direction: column;
        width: 100vw;
    }

    #founder-face{
        width: 100%;
    }
    /* =====TICKETS PAGE STYLES======== */
    .ticket-wrapper{
        width: 100vw;
        margin: 0;
    }

    .box-h2{
        margin-top: 60px;
    }

    .box-container{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        width: 100vw; 
    }

    .box{
        margin: 0;
        border: 2px solid #ea1c2c;
    }

    ul.box-ul{
        background-color: #f5d9d5;
        margin: 0;
    }

    .box-head{
        background-color: #f5d9d5;
        color: black;
    }

    /* form styles */
    form{
        width: 100vw;
    }

    .inner-form-2,
    .card-details{
        flex-direction: column;
    }

    input#age,
    input#num,
    input.one-line-card-details{
        width: 100%;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    input#num,
    input.one-line-card-details{
        margin-top: 20px;
    }

    label.age{
        padding-bottom: 5px;
        margin-top: 15px;
    }

    .pay-icon-wrapper{
        flex-wrap: wrap;
    }

    .payment-cards{
        width: 60%;
        margin: auto;
        margin-top: 10px;
        border-top: 1px solid black;
    }

    .card-icon{
        width: 20%;
        margin: auto;
    }

    .input-head{
        margin-top: 35px;
    }
}



